<div class="row">
    <h2>Clientes</h2>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th> Nombre cliente</th>
            <th> Telefono </th>
            <th> Email</th>
            <th> Fecha inicio</th>
            <th> Fecha fin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td> {{ client.clientName }} </td>
            <td> {{ client.number }} </td>
            <td> {{ client.email }} </td>
            <td> {{ client.startDate }} </td>
            <td> {{ client.endDate }} </td>
            <td>
                <button (click)="updateClient(client.id!)" class="btn btn-primary"> Actualizar</button>
                <button (click)="deleteClient(client.id!)" class="btn btn-danger" style="margin-left: 10px">
                    Eliminar</button>
                <button (click)="clientDetails(client.id!)" class="btn btn-primary" style="margin-left: 10px">
                    Ver</button>
            </td>
        </tr>
    </tbody>
</table>