<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center">Nuevo cliente</h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>Nombre Cliente</label>
                        <input type="text" class="form-control" id="clientName" [(ngModel)]="client.clientName"
                            name="clientName">
                    </div>

                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" class="form-control" id="number" [(ngModel)]="client.number" name="number">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="client.email" name="emailId">
                    </div>

                    <div class="form-group">
                        <label>Fecha inicio</label>
                        <input type="text" class="form-control" id="startDate" [(ngModel)]="client.startDate"
                            name="startDate">
                    </div>

                    <div class="form-group">
                        <label>Fecha fin</label>
                        <input type="text" class="form-control" id="endDate" [(ngModel)]="client.endDate"
                            name="endDate">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Crear</button>

                </form>
            </div>
        </div>
    </div>
</div>